<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <title>Food Blog</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <h2 th:text="${userName} + 'さんの料理ブログ'"> </h2>
        </div>

        <nav>
            <ul class="wrapper">
                <li><a th:href="@{/blog/list}">Home</a></li>
                <li><a th:href="@{/blog/register}">Blog</a></li>
                <li><a th:href="@{/admin/logout}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="new-article wrapper">
        <article th:each="blog:${blogList}">
            <img th:src="@{/blog_img/{imagePath}(imagePath=${blog.blogImage})}" alt="">   
            <p th:text="${blog.message}"></p>
            <div>
                <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">もっと読む</a>
            </div>
        </article>
    </div>

    <div class="container wrapper">
        <main>
            <article th:each="blog:${blogList}">
                <h1 th:text="${blog.blogTitle}"></h1>
                <ul>
                    <li th:text="${blog.blogDate}"></li>
                    <li th:text="${blog.categoryName}"></li>
                </ul>
                <img th:src="@{/blog_img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
                <div class="article-intro">
                    <p th:text="${blog.message}"></p>
                    <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">もっと読む</a>              
                </div>
            </article>
        </main>
        <aside>
            <section class="author">
                <img  th:src="@{/img/anime.jpg}" alt="">
                <h4>Ng Sai Fung</h4>
                <p>This space is for author self-introduction</p>
            </section>
            <section class="ranking">
                <h4>Ranking</h4>
                <div class="ranking-article" th:each="blog:${blogList}">
                    <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
                    <img th:src="@{/blog_img/{imagePath}(imagePath=${blog.blogImage})}" alt="" />
                    <p th:text="${blog.blogTitle}"></p>
					</a>
                </div>
            </section>
            <section class="contact">
                <h4>contact</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </section>
        </aside>

    </div>        
    <footer>
        <p>Copyright &copy; Ng Sai Fung 2024</p>
    </footer>
</body>
</html>