<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <title>Profile Edit</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <h2 th:text="${userName} + 'さんの料理ブログ'"> </h2>
        </div>

        <nav>
            <ul class="wrapper">
				<li><a th:href="@{/blog/list}">Home</a></li>
				<li><a th:href="@{/blog/profile}">Profile</a></li>
				<li><a th:href="@{/blog/register}">Blog</a></li>
				<li><a th:href="@{/admin/logout}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form wrapper">
            <h1>自己紹介編集</h1>
            <form th:action="@{/blog/profile/edit/process}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Upload New Image:</label>
                    <input type="file" id="image" name="profileImage" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="description">Message:</label>
                    <textarea id="description" name="profileMessage" rows="15" cols="33" th:text="${profile.profileMessage}"required></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="profileId" th:value="${profile.profileId}">
                    <button>確定</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; Ng Sai Fung 2024</p>
    </footer>
</body>
</html>