<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Register Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="main">
    <video autoplay loop muted plays-inline class="vid" >
        <source th:src="@{/img/anime.mp4}" >
    </video>
    <div class="card">
          <form th:action="@{/admin/register/process}" method="POST">
            <h1>REGISTER</h1>
            <div class="inputbox">
              <ion-icon name="body-outline"></ion-icon>
                <input type="text" name="userName" required>
                <label for="">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="userEmail" required>
                <label for="">Email</label>
            </div>
			<p class="error-message" th:if="${error}">This E-mail has been already registed</p>
            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input type="password" name="password" required>
              <label for="">Password</label>
          </div>
      
            <button>Sign up</button>
            <div class="register">
                <p>Already have an account? <a th:href="@{/admin/login}">Return</a></p>
            </div>
        </form>
    </div>
</div>  
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>